annotated-doc==0.0.4
annotated-types==0.7.0
cffi==2.0.0
click==8.3.1
cryptography==46.0.5
greenlet==3.3.2
markdown-it-py==4.0.0
mdurl==0.1.2
pip==26.0.1
pycparser==3.0
pydantic==2.12.5
pydantic-core==2.41.5
pygments==2.19.2
rich==14.3.3
shellingham==1.5.4
sqlalchemy==2.0.48
sqlmodel==0.0.37
typer==0.24.1
typing-extensions==4.15.0
typing-inspection==0.4.2
